<div class="logo_head clearfix">
  <div class="span6 span6-sm span12-xs">
    <a href="{{ url('<front>') }}">
      <img src="{{ base_path ~ directory }}/images/logo1.png" alt="" width="450"
           height="55">
    </a>
  </div>
  <div class="span6 head_calendar hidden-xs">
    {{ page.header['vuecalendarblock_2'] }}
    <div class="span6 visible-md" style="margin-left: 38px;">
    {{ page.header['searchform'] }}
    </div>
  </div>
</div>
<div class="fon_line1 row-fluid span12"></div>
<div style="clear:both;"></div>
